  /* Optional: style the scrollbar */

  .scroll::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: #d7d5d5;
    border-radius: 4px;
  }
  .login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('../img/background.jpg');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;
    background-position: center;
    
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  .form-card{
    padding: 20px 50px 20px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* Create the falling-alert animation */
  @keyframes falling-alert {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  /* Apply the animation to the alert element */
  .falling-alert {
    animation: falling-alert 1s ease-in-out;
  }

  /* Style the fixed-top-alert container */
  .fixed-top-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
  }

  /* Style the alerts to span full width */
  .alert {
    width: 100%;
  }

  /* Define the fade-out-up animation */
@keyframes fade-out-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* Apply the animation to the alert element */
.fade-out-up {
  animation: fade-out-up 1s ease-in-out;
}
.link-nav{
  float: right;
  padding: 7px;
  background-color: #ff7900;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  text-decoration: none;
}

.fav-button{
  background: none; 
  border: none;
  padding: 0;
  font: inherit; 
  cursor: pointer;
  float: right;
  margin: 0;
  vertical-align: middle;
  color: blue;
}

.carousel-control-prev-icon{
 background-color: green;
}
.custom-star-icon{
  color:blue;
}
  .cell {
    word-wrap: break-word !important;
    white-space: normal !important;
}
.active-profile {
  border: 3px solid green; 
  padding: 2px;
}
#preloader {
  overflow: hidden;
  background-image: linear-gradient(145deg, #ffffffc5 0%, #ffffffc5 0%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #f4813f;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #f4813f;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




